* {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.backgroundVideo,
.Video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.YachtNavOverlay {
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* -------Yacht Content-------- */

.YachtDiv {
  background-image: url("../../assets/img/Body/body-bg.webp");
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.YachtDiv h1 {
  width: 700px;
  letter-spacing: 7px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.YachtDiv p {
  text-align: center;
  position: relative;
  top: 35px;
  width: 900px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 20px;
}

.YachtContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background: url("../../assets/img/Body/LadyLi.avif") center / cover;
  border-top-left-radius: 80%;
}

.YachtContentElements {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  padding-left: 10px;
}

.YachtIcons {
  position: relative;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-left: 2px solid #2e2d2c;
}

.price {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: 200;
  padding-left: 20px;
  color: #2e2d2c;
}
