.ocean {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.ocean-container {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}
.TreasureYachtOcean {
  position: absolute;
  width: 100%;
  height: 120vh;
  object-fit: cover;
}

.ocean-container h1 {
  font-family: "Dancing Script", cursive;
  width: 100%;
  font-size: 100px;
  font-weight: inherit;
  color: whitesmoke;
  letter-spacing: 5px;
}
