* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  height: 13vh;
  width: 100%;
  transition-duration: 0.8s;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s ease;
}

.logo {
  height: 90px;
}

.nav-links {
  display: flex;
  justify-content: right;
  width: 70%;
  list-style: none;
  text-decoration: none;
}

.nav-links li {
  color: black;
  font-size: 20px;
  padding: 0 30px;
  cursor: pointer;
  text-transform: capitalize;
}

.links {
  text-decoration: none;
  border-bottom: 2px solid #a2622bab;
  padding: 10px;
  color: white;
  transition-duration: 0.8s;
}

.links:hover {
  background-color: #a2622bab;
  transition: 0.5s ease;
  border-radius: 10px;
}

.button {
  border: none;
  background: none;
  font-size: 20px;
}

.mobile-menu-icon {
  display: none;
  color: white;
}

.cross {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bars {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .navbar {
    /* width: 100%;
    height: 13vh;
    display: flex; */
    justify-content: space-between;
  }

  .logo {
    position: relative;
    left: 40px;
  }

  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: fixed;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
  }

  .links {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.7707457983193278) 0%,
      rgba(20, 20, 158, 0.6783088235294117) 32%,
      rgba(0, 212, 255, 0.6811099439775911) 100%
    );
    border-bottom: none;
    display: block;
    padding: 61px;
  }

  .mobile-menu-icon {
    position: fixed;
    display: block;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    z-index: 1500;
  }

  .box-div {
    position: absolute;
    justify-content: space-around;
    top: 400px;
  }
  .p-header {
    font-family: "Playfair", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 35px;
    width: 100%;
    min-width: 480px;
  }

  .p2-header {
    font-family: "Playfair", serif;
    font-weight: 500;
    font-style: italic;
    width: 400px;
    font-size: 20px;
    top: 50px;
  }

  .link_wrapper {
    position: relative;
    width: 150px;
    height: 25;
    top: 50px;
    font-size: 13px;
  }

  .link_wrapper:hover {
    background-color: transparent;
    color: #fff;
  }
}
