* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

/* --------Display Screen--------- */

#Home {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.display-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Home h1 {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  font-weight: inherit;
  color: #f0ffff;
}

#Home p {
  font-family: "Dancing Script", cursive;
  font-weight: inherit;
  font-size: 40px;
  color: #f0ffff;
}

#Home a {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 60px;
  text-decoration: none;
  background: #a2622b96;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.35s;
}
#Home a:hover {
  background: #a2622b;
}

.Speed-boat {
  position: relative;
  left: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* -----------ABOUT------------ */
.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../src/assets/img/ocean-pattern2.jpg") bottom / cover
    no-repeat;
}

.title {
  color: whitesmoke;
  letter-spacing: 1px;
  font-family: "Dancing Script", cursive;
  font-weight: inherit;
  font-size: 40px;
}

.Quote {
  color: whitesmoke;
  letter-spacing: 1px;
  font-family: "Dancing Script", cursive;
  font-weight: inherit;
  font-size: 25px;
  padding-top: 20px;
}

.BackHome {
  position: relative;
  background-color: transparent;
  top: 20px;
  border: 2px solid #000000c5;
  border-radius: 20px;
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  padding: 20px;
  transition: 0.4s ease-in;
}

.BackHome:hover {
  transition: 0.4s ease-out;
  padding: 25px;
  background-color: #00000094;
}
